.container {
  width: 40rem;
  margin: auto;
  padding-top: 0px;
}

.container h1 {
  text-align: center;
}

.container section {
  width: 40rem;
  height: 100%;
  margin: auto;
  padding-top: 10px;
  background-color: white;
}

.container ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

.container ul li {
  padding-left: 10px;
  padding-right: 10px;
}

.erik {
  line-height: 0;
}

.erik img {
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
}

#student {
  text-align: center;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#first {
  margin-top: auto;
  margin-bottom: 10px;
}

body {
  background-image: url("../images/cream-background.avif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h4 {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  margin-top: 0;
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}