body {
  background-image: url("../images/cream-background.avif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto 0 auto;
  
}

#youtube {
  width: 350px;
  float: left;
  padding: 20px;
}

#activities {
  margin-left: 190px;
  width: 350px;
  float: left;
  padding: 20px;
}

#youtube h4 {
  text-align: center;
}

#activities h4 {
  text-align: center;
}

#youtube img {
  padding-left: 80px;
}